root = true

[*.cs]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
indent_style = space
indent_size = 4
dotnet_sort_system_directives_first = true

[*.{xaml,xml,props,csproj}]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
indent_style = space
indent_size = 2

[*.md]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = false
